/***************************************MODELO DE BOTÃO***********************************/
/* botão de adicionar verde/branco padrão */

.btn-add-card {
    color: white;
    background-color: #198754;
    margin-top: 5px;
}


/* houver é quando o mouse estão na area de ação. */
.btn-add-card:hover {
    background-color: #156b43;
    border-color: #198754;
}


/* botão de suporte */
.btn-suport {
    background-color: #156b43;
    border-color: #156b43;
    color: white;
}

.btn-suport:hover {

    color: white !important;
}

.none {
    border: none !important;
    border-radius: 0.3rem;
}



/* botão excluir */
.btn-delete {
    background-color: #757a78;
    border-color: #757a78;
    color: white; 
    width: 100px;
    height: 40px;
    border-radius: 5px;
}


.btn-delete:hover {
    background-color: #636866;
    border-color: #636866;
    
}

.btn-Plano {
    width: 242px;
    height: 50px;
    

}

.btnCardDel {

    width: 100%;

}



.model-color {

    color: rgb(94, 255, 0);
    border-radius: 5px;
}

.ok {
    color: rgb(94, 255, 0)
}

.error {
    color: rgb(197, 33, 33)
}

.margin-text {
    margin-left: 45px;
}

.button-search {
    background-image: url(../../components/asserts/imagens/Header/search.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    display: block;
    position: relative;
    left: 1px;
    width: 50px;
    height: 40px;
    top: 8px;
    background-position: center;
    border: 1px solid #198754;
    border-left: none;
}




@media (min-width:770px) {
    .btnCardDel {
        width: 50%;

    }


}