

.list1{
  
    background-color: #ededed;
    border-radius: 5px;
    border: 1px solid white;
    border-collapse: collapse;
}

.ml{
margin-right: 20px;
}



@media (max-width:992px) {
.alterando{ 
    flex-direction: column;
}



}
