
.modal-dialog1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }
  
  .modal-content1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(230, 230, 230);
    padding: 10px;
    min-width: 360px;
    max-height: 90%;
    width: 90%; /* <------ LARGURA ESTÃTICA */
    overflow: auto;
  }
